.backgroundForm{
  height: 100vh;
  background-image: linear-gradient(to right top, #1e2845, #26375e, #2c4777, #305892, #3269ae);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 414px) {
  .backgroundForm{
      height: 100%;
      padding-bottom: 130%;
  }

  .form-container {
      display: flex;
      flex-direction: column;
      max-width: 100%;
  }

  .name-form-container {
    width: 20rem;
    padding-bottom: 1em;
  }

  .name-form-container input {
    width: 5em;
  }

  .avatar-container {
    width: 20rem;
    min-height: auto;
  }

  .level-choice-container {
    width: 20rem;
  }

  .buttonsLevelChoice-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .imgBox {
    height: 6.5em;
    width: 6.5em;
  }


  .imgBox {
    height: 6.5em;
    width: 6.5em;
  }

  .sButton {
    margin-top: 3em;
  }

}

