.timer-container {
  --PI: 3.14;
  --d: 150px;
  width: var(--d);
  height: 150px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  margin-bottom: 2em;
}

.timer-container svg {
  transform: rotate(-90deg);
  position:absolute;
  left:0px;
  height: 150px;
}

.circle {
  --p: calc(var(--d)*var(--PI));
  stroke-dasharray: var(--p) 0;
  stroke-dashoffset: var(--p);
  stroke-linecap: round;
}

@keyframes stroke {
  to {
    stroke-dasharray: var(--p) var(--p);
  }
}

.time {
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0;
  line-height: 150px;
}

@media screen and (max-width: 770px){
.timer-container svg {
    height: 100px;
  }
  .timer-container{
    order: 1;
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-left: -190px;
  }
  .time {
    line-height: 100px;
  }
}
