.tBlock
{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.tButton {
    text-align: center;
    padding: 10px 40px;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    color: white;
    text-decoration: transparent;
    border-radius: 15px;
    transition: 0.4s ease;
    margin-top: 2em;
}

.tButton:hover {
    color: black;
    background: white;
}

